<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".arthritis"
            android:exported="false"
            android:label="@string/title_activity_arthritis"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".doctor"
            android:exported="false" />
        <activity
            android:name=".Gout_treatment"
            android:exported="false"
            android:label="@string/title_activity_gout_treatment"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".Gout"
            android:exported="false" />
        <activity
            android:name=".Initial_activity3"
            android:exported="false" />
        <activity
            android:name=".Initial_activity2"
            android:exported="false" />
        <activity
            android:name=".Initial_actitvity1"
            android:exported="false" />
        <activity
            android:name=".Mcq_questions"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".Signup"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.MyApplication" />
    </application>

</manifest>